.content_wrapper {
  position: absolute;
  right: 0;
  width: 30vw;
  height: 100vh;
  background-color: white;
  border-left: 2px solid #333;
  border-bottom: 2px solid #333;
  border-bottom-left-radius: 10px;
}
