.details_wrapper {
  position: relative;
  right: 0;
  width: 25vw;
  height: 100%;
  background-color: white;
  border: 1px solid #333;
  border-radius: 10px;
  text-wrap: wrap;
  margin-left: 10px;
}

.card_close {
  width: 5vw;
  aspect-ratio: 1 / 1;
  border: 1px solid #333;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card_top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
