.details_wrapper {
  position: relative;
  right: 0;
  width: 25vw;
  height: 100%;
  background-color: white;
  border: 1px solid #333;
  border-radius: 10px;
  text-wrap: wrap;
  margin-left: 10px;
}
